header.main-header {
  background-color: $headerBackground;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.1rem 0rem 0.1rem 2rem;
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 10;

  h1 {
    img {
      color: $textWhite;
    }
  }

  nav {
    &.app-menu {
      width: 40%;
      vertical-align: middle;

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.3rem;

        li {
          color: $textWhite;
          text-transform: uppercase;
          font-size: 0.95rem;
          font-weight: 545;
          font-family: "Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif";

          &.menu-active {
            color: $headerActiveColor;
          }

          &:hover {
            @include hovered()
          }
        }
      }
    }

    &.app-navbar {
      width: 45%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      transition: all 1s ease-in-out;

      div.search-box {
        position: relative;
        width: 55%;

        input {
          border: none;
          outline: none;
          border-radius: 1.5rem;
          font-size: 0.8rem;
          font-style: italic;
          margin-left: 1rem;
          height: 60%;
          position: relative;
          display: inline-block;
          width: 100%;
        }

        button.submit-search {
          position: absolute;
          right: -3%;
          top: 13%;
          font-size: 0.95rem;
          color: $headerBackground;
          border: none;
          background: transparent;
        }
      }

      ul {
        width: 45%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;

        li {
          border-right: 1px solid $textWhite;

          span {
            font-size: 0.8rem;
          }

          &:first-child {
            flex: 2 1 60%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: flex-end;
            align-content: flex-end;

            span {
              display: inline-block;

              &.user-icon {
                background: $textWhite;
                color: $headerBackground;
                border-radius: 50%;
                // padding: 0.2rem;
                width: 1.2rem;
                height: 1.2rem;
                text-align: center;
                vertical-align: center;
              }
            }
          }

          &:nth-child(2),
          &:nth-child(3) {
            flex: 1 1 20%;
            text-align: center;
            font-size: 0.8rem;
          }

          &:last-child {
            border-right: none;

            select {
              border: none;
              background: transparent;
              color: $languageActive;
              -webkit-appearance: none;
              -moz-appearance: none;
              text-indent: 1px;
              text-overflow: "";
            }
          }
        }
      }
    }
  }
}

//---- Large desktop screen
@media screen and (max-width: 1125px) and (min-width: 1030px) {
  header {
    nav.app-menu {
      ul {
        li {
          font-size: 0.85rem !important;
        }
      }
    }
  }
}

// ----- Small desktop screen
@media screen and (max-width: 1030px) and (min-width: 992px) {
  header {
    nav.app-menu {
      ul {
        li {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}

// ----- Tablet screen
@media screen and (max-width: 992px) {
  header.main-header {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;

    nav {
      &.app-menu {
        width: 90%;
        padding-left: 0;
        justify-content: flex-end;
        margin-bottom: 1rem;

        ul {
          padding-left: 0;
          width: 100% !important;

          li {
            font-size: 0.85rem;

            &:first-child {
              display: none;
            }

            &:last-child {
              margin-right: 0;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      &.app-navbar {
        width: 70%;
        margin: 1rem auto;
        display: none;
        align-self: flex-start;
      }
    }
  }
}

@media screen and (max-width: 960px) and (min-width: 576px) {
  header.main-header {
    nav {
      &.app-menu {
        ul {
          width: 100% !important;
        }
      }

      &.app-menu {
        ul {
          li {
            &:first-child {
              display: inline-block !important;
              margin-left: 0;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

// ----- Large mobile phone device
@media screen and (max-width: 768px) and (min-width: 576px) {
  header {
    nav {
      &.app-menu {
        ul {
          width: 100% !important;
        }
      }

      &.app-navbar {
        width: 90% !important;
      }
    }
  }
}

// ---- Small mobile phone device
@media screen and (max-width: 576px) {
  header {
    div.logo-zone {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      h1 {
        margin-bottom: 0;
      }

      span {
        margin: 0.6rem;

        svg {
          color: $textWhite;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    nav {
      &.app-menu {
        display: none;

        ul {
          flex-flow: column !important;
          margin-top: 0 !important;
          width: 100%;

          li {
            font-size: 0.9rem !important;
            font-weight: 550;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid rgba(149, 165, 166, 0.5) !important;
            width: 100% !important;
          }

          li:first-child,
          li:last-child {
            display: none !important;
          }
        }
      }

      &.app-navbar {
        width: 100% !important;

        div.search-box {
          width: 45% !important;
          margin-right: 0 !important;
        }

        ul.users-nav {
          width: 55% !important;
          margin-left: 0 !important;
          padding-left: 1.2rem !important;
        }
      }
    }
  }
}