div.main-content {
  padding: 1rem;

  //----- Section 1: Upload zone
  section.upload-zone {
    width: 55%;
    border: 2px dashed $dashed;
    padding: 0.6rem 2rem;
    margin: 1.5rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    div.upload-icon {
      width: 5rem;
      height: 4.5rem;
      background-image: url("../../assets/images/upload-icon.png");
      background-color: $headerBackground;
      background-repeat: no-repeat;
      background-size: 50% 50%;
      background-position: center;
      border-radius: 50%;
    }

    div.upload-title {
      margin-left: 0.6rem;
      margin-top: 1.5rem;

      h2 {
        letter-spacing: -1px;
        color: $contentTitleColor;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 1.3rem;
      }
    }
  }

  //----- Section 2: Breadcrumb
  section.app-content-breadcrumb {
    ul {
      background: transparent;
      padding-left: 0;

      li {
        color: $normalTextColor;
        display: inline-block;

        &::before {
          font-family: "Font Awesome 5 Free";
          content: "\f054";
          font-size: 0.8rem;
          font-weight: 600;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }

        &:first-child::before {
          content: "";
          margin: 0;
          display: table;
        }

        &:last-child {
          font-weight: 900;
          color: $black;
          opacity: 0.8;
          font-size: 0.9rem;
        }
      }
    }
  }

  ///---- Section 3: Table infos
  section.table-infos {
    width: 100%;

    section.filter-properties,
    section.table-paginations {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      width: 60%;
      float: right;
      margin-top: -1rem;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      p {
        margin-bottom: 0;
      }

      p.deleted {
        text-decoration: underline;
        color: #ff5542;
        font-weight: 600;
      }

      p.download-file {
        background: #b4b4b4;
        border: none;
        border-radius: 1rem;
        line-height: 1rem;
        padding: 0.3rem 0.8rem;
        color: $textWhite;
        font-weight: 550;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-family: "Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif";
        // letter-spacing: -1px;
        height: max-content;
        vertical-align: middle;
        margin-bottom: 0;
      }

      div.page-items-number {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        span {
          font-size: 0.8rem;
          font-weight: 100;
          color: $normalTextColor;
          margin-right: 0.5rem;
        }

        select.select-number-items-per-page {
          font-size: 0.8rem;
          border-radius: 5px;
          padding: 2px 4px;
          color: $iconDefault;
          background: $textWhite;
        }
      }

      div.pagination {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        flex-basis: 20%;
        align-items: center;
        align-content: center;
        color: $iconDefault;

        svg.small {
          font-size: 0.7rem;
        }

        p {
          font-size: 0.8rem;
          margin-bottom: 0;

          &.current-page {
            border: 1px solid #959595;
            padding: 0 0.6rem;
            border-radius: 5px;
            line-height: 1.3rem;
          }
        }
      }
    }

    table {
      width: 100%;
      display: table;

      thead {
        font-size: 0.9rem;
        color: $contentTitleColor;

        th {
          text-align: center;
          letter-spacing: -0.5px;

          &:first-child {
            color: $normalTextColor;
          }
        }
      }

      tbody {
        font-size: 0.8rem;

        td {
          text-align: center;
          border-bottom: 1px solid $border;

          &:first-child {
            color: $normalTextColor;
          }

          &:last-child {
            svg {
              margin-left: 1rem;
            }
          }
        }
      }
    }

    section.table-paginations {
      width: 30%;
      margin-top: 0.5rem;

      div.pagination {
        flex-basis: 40%;
      }
    }
  }
}

// ----- Both tablet and mobile
@media screen and (max-width: 960px) {
  div.main-content {
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }
}

// ----- Tablet screen
@media screen and (max-width: 992px) {
  section.upload-zone {
    padding: 0rem 1.5rem !important;

    div.upload-icon {
      width: 4rem !important;
      height: 4rem !important;
      background-size: 50%, 50%;
      border-radius: 50%;
    }

    div.upload-title {
      margin-left: 0.6rem;
      margin-top: 1.5rem;

      h2 {
        letter-spacing: -1px;
        color: $contentTitleColor;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 1.3rem;
        font-size: 1.4rem;
      }
    }
  }

  section.table-infos {
    section.filter-properties {
      width: 70% !important;
      margin-bottom: 0.5rem;
    }

    section.table-paginations {
      width: 40% !important;
    }
  }
}

@media screen and (max-width: 960px) and (min-width: 762px) {
  div.main-content {
    margin: 0 1rem !important;

    section.upload-zone {
      div.upload-icon {
        width: 4rem !important;
        height: 3.5rem !important;
      }
    }
  }
}

// ----- Large mobile phone device
@media screen and (max-width: 768px) {
  table {
    display: block !important;
  }
}

@mixin table-change-last-column($width) {
  thead {
    th {
      &:last-child {
        width: $width !important;
      }
    }
  }

  tbody {
    td {
      &:last-child {
        width: $width !important;
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  div.main-content {
    margin: 0 0.7rem !important;

    //--- Section 1.
    section.upload-zone {
      width: 60%;
      padding: 0rem 1.5rem !important;

      div.upload-icon {
        width: 3rem !important;
        height: 3rem !important;
        background-size: 50%, 50%;
      }

      div.upload-title {
        h2 {
          line-height: 1.2rem;
          font-size: 1.1rem;
        }

        p {
          font-size: 0.85rem;
        }
      }
    }

    //--- Section 3
    section.table-infos {
      section.filter-properties {
        width: 90% !important;
        margin-top: 0;

        p.deleted {
          font-size: 0.85rem;
        }

        p.download-file {
          padding: 0.2rem 0.6rem;
          font-size: 0.7rem;
        }
      }

      table {
        @include table-change-last-column(20%);

        thead,
        tbody {
          font-size: 0.8rem;
        }
      }

      section.table-paginations {
        width: 50% !important;
        font-size: 0.85rem;
      }
    }
  }
}

@media screen and (max-width: 665px) and (min-width: 576px) {
  div.main-content {
    section.table-infos {
      table {
        @include table-change-last-column(30%);
      }
    }
  }
}

// ---- Small mobile phone device
@media screen and (max-width: 576px) {
  div.main-content {
    margin: 0 0.5rem;

    section.upload-zone {
      width: 90%;

      div.upload-icon {
        width: 2.5rem !important;
        height: 2.5rem !important;
        background-size: 50%, 50%;
      }

      div.upload-title {
        h2 {
          line-height: 1.0rem;
          font-size: 1.0rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }

    section.app-content-breadcrumb {
      font-size: 0.85rem !important;

      ul {
        li {
          &:last-child {
            font-size: 0.85rem;
          }
        }
      }
    }

    section.table-infos {

      //--- Table header
      section.filter-properties {
        width: 98% !important;
        margin-top: 0.8rem;

        p.deleted {
          font-size: 0.7rem;
        }

        p.download-file {
          font-size: 0.6rem;
        }

        div.page-items-number {
          span {
            display: none;
          }

          select {
            font-size: 0.8rem !important;
          }
        }

        div.pagination {
          font-size: 0.8rem !important;
        }
      }

      //--- Table content
      table {

        thead,
        tbody {
          font-size: 0.7rem !important;
        }
      }

      //--- Table footer
      section.table-paginations {
        width: 60% !important;

        div.page-items-number {

          select {
            font-size: 0.8rem !important;
          }
        }

        div.pagination {
          font-size: 0.8rem !important;
        }
      }
    }
  }
}