@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/AvenirLTStd-Light.woff") format("woff");
}

* {
  margin: 0 auto;
  box-sizing: border-box !important;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: $appBackgroundColor;
  font-family: "Avenir";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
  font-size: 1rem;
}

ul,
li {
  list-style: none;
  color: $textWhite;
  margin-bottom: 0px;
  letter-spacing: -0.5px;
}

.container {
  max-width: 100% !important;
}

.text-success {
  color: $success !important;
}

.text-danger {
  color: $danger !important;
}

.text-normal {
  color: #505050 !important;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.visible {
  display: flex !important;
}

main.app-content-wrapper {
  position: relative;
}

.sidebar-visible {
  left: 0;
}

.hovered {
  opacity: .7;
}