$headerBackground: #01284e;
$headerActiveColor: #3d857d;
$appBackgroundColor: #ffffff;
$sidebarBackgroundColor: #efefef;
$normalTextColor: #585858;
$contentTitleColor: #00415c;
$tableHeaderBackground: #e6e6e6;
$textWhite: #ffffff;
$iconDefault: #646464;
$languageActive: #29dded;
$dashed: #9c9c9c;
$black: #000000;
